/* For mobile phones: */
@media only screen and (max-width: 767px) {
  .ui.container {
    .ui.container {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}
.ui.inverted.top.fixed.header.menu {
  background: $header-color;
  .ui.container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
