/* For mobile phones: */
@media only screen and (max-width: 767px) {
  .ui.container {
    .ui.container {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      h2 {
        color: $white-color;
      }
    }
  }
}
.ui.inverted.top.fixed.header.menu {
  background: $header-color;
  .ui.container {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;

    h2 {
      color: $white-color;
    }
  }
  .header-logout {
    width: 55%;
    > span {
      padding-right: 30px;
      cursor: pointer;
      &:hover {
        color: $hover-color;
        transition: all 0.2s;
      }
    }
  }
}
