html {
  body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@mixin loader-before {
  height: 35px !important;
  width: 35px !important;
  border: 3px solid $green-color !important;
}

@mixin loader-after {
  height: 35px !important;
  width: 35px !important;
  border: 3px solid $green-color !important;
  border-top-color: $background !important;
}

@mixin button {
  background-color: $green-color;
  color: $white-color;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
}

@mixin btn-hover {
  background-color: $hover-color;
  transform: all 0.3s;
}
